/* header */

@media only screen and (max-width: 375px) {
  h1 {
    font-weight: 600;
    font-size: 28px;
  }
  .main-header__subtitle {
    width: 30ch;
    color: hsl(210, 10%, 33%);
  }
  .main-header__buttons {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .main-header__button {
    margin: 7px 0;
    width: 100%;
    padding: 15px 70px;
    font-size: 18px;
  }
}
