@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: hsl(171, 66%, 44%); */
  font-family: "Bai Jamjuree", serif;
}

/* main-header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  font-weight: 600;
  font-size: 35px;
}

p {
  color: hsl(0, 0%, 57%);
}

.main-header__banner {
  background: url("images/bg-header-desktop.png") no-repeat 0 80%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
}

.main-header__banner img {
  padding: 80px 0 60px 0;
}

.main-header__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 565px;
  gap: 15px;
  text-align: center;
}

.main-header__buttons {
  margin: 30px 0;
}

.main-header__button {
  padding: 10px 30px;
  border-radius: 30px;
  color: white;
  margin: 20px 7px;
  border: none;
}

.main-header__button1 {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0 15px 6px -6px rgba(148, 240, 226, 0.3);
}

.main-header__button2 {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0 15px 6px -6px rgba(205, 206, 206, 0.26);
}

/* clipboard-details */

.clipboard-details,
.access-clipboard-container {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clipboard-deatils__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 565px;
  gap: 15px;
  text-align: center;
}

.clipboard-details__features {
  margin: 60px 0;
  display: flex;
  /* justify-content: start; */
  /* align-items: start; */
  width: 100%;
  gap: 160px;
}

.clipboard-details__properties {
  display: flex;
  flex-direction: column;
  gap: 70px;
  max-width: 335px;
  justify-content: center;
}

.workflow-details {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 70px;
}

.workflow-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32ch;
  gap: 20px;
  text-align: center;
}

.workflow-detail1 {
  padding-top: 25px;
}

.workflow-detail img {
  width: 50px;
}

.access-clipboard-container {
  padding: 20px;
}

.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 120px 0;
}

footer {
  background-color: rgba(240, 237, 237, 0.664);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

footer .footer-links {
  display: flex;
  /* flex-wrap: wrap; */

  /* width: 100%; */
  /* max-width: 440px; */
  align-items: center;
  padding: 20px;
  justify-content: space-around;
  gap: 50px;
}

a {
  text-decoration: none;
  color: rgba(14, 11, 11, 0.664);
}

.bottom-header__buttons {
  margin-bottom: 100px;
}

.brand-logo {
  width: 100%;
  max-width: 20px;
  height: 20px;
}

.socials img {
  margin: 0 10px;
}
